* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}


#main-container {
    display: flex;
    justify-content: start;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

/*sidebar*/
#sidebar {
    background-color: rgb(249, 249, 248);
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#sidebar h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: rgb(67, 67, 65);
    align-self: center;
}

#sidebar #form {
    margin: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#sidebar label {
    font-family: helvetica;
    font-weight: bold;
    color: rgb(167, 167, 163);
    padding-bottom: 10px;
    width: 165px;
}

#sidebar #task-input {
    height: 15rem;
    width: 160px;
}

#sidebar input {
    margin-top: 20px;
    height: 3rem;

}

#sidebar #tagSelect{
    margin-top: 8px;
    width: 165px;
}

#sidebar #filter{
    height: 3vh;
    width: 165px;
    margin: auto;
    margin-bottom: 3vh;
}

#sidebar #clear-button{
    background-color: rgb(67, 67, 65);
    color: white;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5vh;
    width: 165px;
   
}

/*task section*/
#tasks-container {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tasks-container h2 {
    color: rgb(151, 148, 148);
    margin-top: 50px;
    padding-left: 80px;
    align-self: flex-start;
}

#tasks-container #tasks-display {
    background-color: rgb(245, 245, 240);
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 10px;
    
}

#tasks-display .task {
    background-color: rgb(248, 217, 186);
    width: max-content;
    height: auto;
    padding: 40px;
    display: flex; 
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgb(219, 218, 218);
}

.task .task-name{
    margin-right: 40px;
}

.task .check {
   margin-left: 15px; 
}

.task .task-tag{
    margin-right: 40px;
    color: rgb(104, 104, 104);
    font-size: 0.8rem;
    padding-top: 6px;
    padding-right: 5px;
    padding-left: 5px;
}




#date-posted{
    font-size: 0.8rem;
    color: rgb(162, 162, 162);
    padding-top: 6px;
    padding-right: 10px;
}

.edit-button{
    background-color: rgb(245, 245, 240);
    border-style: none;
    border-radius: 5px;
    color: rgb(122, 122, 122);
    margin-left: 25px;
    margin-top: 8px;
    padding: 10px;
    height: min-content;
}

/*Delete Section*/
#delete-container {
    width: 100vw;
    height: 10vh;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    
}

#delete-container p {
    font-weight: bold;
    font-size: larger;
    color: rgb(239, 239, 239);
}


@media screen and (max-width: 1000px) {
    #tasks-container {
        width: 75vw;
        
    }

    #tasks-container #tasks-display {
    width: 65vw;
}

#tasks-display .task {
    padding: 5px;
    width: 50vw;
}

}